<nav id="head_nav_bar">
    <div class="row">
        <div id="head_nav_bar" class="quarter">
            <a href="{{ site.url }}">
                <img id="head_nav_bar_img" src="https://s3-us-west-2.amazonaws.com/svgporn.com/logos/archlinux.svg" alt="Logo Menu Baptiste Villemur">
            </a>
        </div>

        <div id="head_nav_bar" class="rest">
            <i class="fa fa-bars"></i>

            <div id="head_nav_bar" class="text-menu">

                <div>
                    <a href="{{ site.url }}/categories/">Categories</a>
                    <ul>
                    </ul>
                </div>

                <span class="slash">/</span>

                <div>
                    <a href="{{ site.url }}/tags/">Tags</a>
                    <ul>
                    </ul>
                </div>

                <span class="slash">/</span>

                <div><a href="{{ site.url }}/404.html">Search</a></div>

                <span class="slash">/</span>

                <div>
                    <a href="{{ site.url }}/about.html">Aboutme</a>
                    <ul>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>
